
<head>
  <title>Shufld</title>
  <link rel="stylesheet" media="screen" href="/stylesheets/main.css">
  <link rel="shortcut icon" type="image/png" href="/images/favicon.png">
</head>

<h2 id="title">Welcome to Shufld!</h2>

{{outlet}}

<div id="footer">Copyright (C) 2016, Adam Pingel.</div>
