
<h1>games.size game(s)</h1>
    
<ul>
  games.map
    <li>
      <a href="game.id">game.label</a>
      <form> <!-- deleteGame --> <input type="submit" value="Delete"> </form>
    </li>
</ul>
    
<h2>Start a new game</h2>
    
<form> <!-- "newGame" -->
  <input type="radio" name="which" value="poker"> Poker<br>
  <input type="radio" name="which" value="ttt" checked> Tic-Tac-Toe<br>
  inputText(gameForm("label"))
  <input type="submit" value="Create">
</form>

{{outlet}}

<ul>
  {{#each model as |color|}}
    <li>{{color}}</li>
  {{/each}}
</ul>

{{#link-to 'users'}}Go to Users{{/link-to}}
